body {
  margin: 0;
  padding: 0;
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  flex-grow: 1;
  /* The flex-grow property specifies how much the item will grow relative to the rest of the flexible items inside the same container. */

  flex-basis: 0;
  /* The flex-basis property specifies the initial length of a flexible item. */

  display: flex;
  /* Style inside the code editor to flex styled (whatever put inside is usable with flex property) */

  flex-direction: column;
  padding: 0.5rem;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.expand-collapse-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
}

.CodeMirror {
  height: 100% !important;
  /* Fill 100% of the 50vh available */
}
